@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.locationWrapper {
  margin-bottom: 40px;
}

.heading {
  composes: p from global;
  font-weight: var(--fontWeightBold);
  padding: 0;
  margin-bottom: 16px;
}

.locationDetails {
  padding: 0;
  margin: 0;
}

.errorMessage {
  margin-top: 24px;
  color: var(--colorFail);
}

.messageLabel {
  margin: 0 0 5px 0;

  @media (--viewportMedium) {
    margin: 0 0 6px 0;
  }
}

.message {
  border-bottom-color: var(--colorGrey300);
}

.submitContainer {
  margin-top: auto;

  @media (--viewportLarge) {
    margin-top: 72px;
  }
}

.submitButton {
  margin-top: 22px;

  @media (--viewportMedium) {
    margin-top: 26px;
  }
  @media (--viewportLarge) {
    margin-top: 16px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
