@import '../../styles/customMediaQueries.css';

.root {
  margin-top: 24px;
}

@media (--viewportMedium) {
  .root {
    margin-top: 48px;
  }
}

.disabled {
  opacity: 0.5;
}

.sectionContainer {
  margin-bottom: 35px;

  @media (--viewportMedium) {
    margin-bottom: 56px;
  }
}

.field {
  margin-bottom: 24px;
}

.field:last-child {
  margin-bottom: 0;
}

.error {
  composes: marketplaceModalPasswordMargins from global;
  color: var(--colorFail);
  margin-top: 12px;
  margin-bottom: 12px;
}

.accountInformationTitle {
  margin: 0 0 8px 0;
  font-weight: var(--fontWeightSemiBold);
  font-size: 13px;
  line-height: 18px;
  color: var(--colorGrey900);

  @media (--viewportMedium) {
    line-height: 16px;
    padding-top: 4px;
    padding-bottom: 0;
  }
}

.savedCountry {
  padding-top: 6px;
  padding-bottom: 0px;
  margin-bottom: 24px;
  color: var(--colorGrey600);

  @media (--viewportMedium) {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 32px;
  }
}

.savedInformation {
  margin-bottom: 32px;
}
